<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>carController</servlet-name>
        <servlet-class>Controller.carController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAndMove</servlet-name>
        <servlet-class>Controller.SaveAndMove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarItem</servlet-name>
        <servlet-class>Controller.DeleteCarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCarServlet</servlet-name>
        <servlet-class>Controller.ClearCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCarController</servlet-name>
        <servlet-class>Controller.UpdateCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCar</servlet-name>
        <servlet-class>Controller.GetAllCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>carController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAndMove</servlet-name>
        <url-pattern>/SaveAndMove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarItem</servlet-name>
        <url-pattern>/DeleteCarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCarServlet</servlet-name>
        <url-pattern>/ClearCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCarController</servlet-name>
        <url-pattern>/UpdateCarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCar</servlet-name>
        <url-pattern>/GetAllCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
